/*Fonts for the players*/
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/*Fonts for the pages*/
@font-face {
  font-family: "Plain Pensle Bold Italic";
  src: url("../Polices/PlainPensle-Italic/PlainPensle-W00-BoldItalic.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Timepiece";
  src: url("../Polices/Timepiece-V1/Timepiece-V1.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Synthemesc";
  src: url("../Polices/Synthemesc-W00-Regular/Synthemesc\ W00\ Regular.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "District Light Regular";
  src: url("../Polices/PlainPensle-Italic/PlainPensle-W00-BoldItalic.otf");
  font-weight: bold;
  font-style: normal;
}

/* Font to hide the text */
@font-face {
  font-family: "Pagan Symbols";
  src: url("../Polices/Pagan-Symbols/Pagan-Symbols.otf");
  font-weight: normal;
  font-style: normal;
}

/*General style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  height: fit-content;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 1vh 5vw 2vw;
  display: flex;
  justify-content: space-between;
  color: #df554e;
  font-family: "Timepiece";
  font-size: large;
  font-size: 2rem;
  font-weight: 100;
}

.menu {
  display: flex;
  list-style-type: disc;
}

.menu a {
  margin-top: 2vh;
  margin-left: 2vw;
  font-size: 3rem;
  transition: color, 250ms;
}

.menu a:hover {
  color: #f2e47b;
}

footer {
  color: whitesmoke;
  font-family: "Plain Pensle Bold Italic";
  text-align: center;
  font-size: 2.67vw;
  position: absolute;
  bottom: 1.5vh;
  left: 34vw;
}

/*Homepage*/

#main-page {
  position: relative;
  background: url(../images/background.png) center black no-repeat;
  background-size: 130vh;
  margin: auto;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.25rem;
}

.play {
  position: absolute;
  top: 47.45vh;
  left: 47.65vw;
  font-family: "Synthemesc";
  color: #f2e47b;
  font-size: 2vw;
  transform: scale(1);
  transition: transform, 250ms;
}

.play:hover {
  transform: scale(2);
}

/*Game page*/

#game-page,
#rules-page,
#credits-page {
  background-color: black;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.25rem;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 77vh;
  background: whitesmoke;
  font-family: Homemade Apple;
  border-radius: 2vh;
  padding: 3vh;
  margin: 0vh 20vw 0vh 20vw;
}

/* Classes written text */

#written-text {
  align-self: flex-start;
  font-size: 2vw;
  text-align: center;
}

.hidden-text {
  font-family: "Pagan Symbols";
}

/* Input to submit new text */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#words {
  padding: 1vh;
  font-size: 1rem;
  width: 36vw;
  border: 1px lightgray solid;
  border-radius: 0.7vh;
}

.message {
  color: transparent;
}

.warning {
  color: #df554e;
  font-family: "District Light Regular";
}

.inputs {
  display: flex;
}

.send {
  width: 10.8vw;
  padding: 2vh;
  margin-top: 3vh;
  background: url(../images/loop.gif) center;
  font-family: "Timepiece";
  text-align: center;
  color: #f2e47b;
  font-size: 2vw;
  border: 2.5px #f2e47b outset;
  border-radius: 1vh;
  cursor: pointer;
  transform: scale(1);
  transition: transform, 250ms;
}

.send:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px #a5a4a4;
}

.sent {
  color: black;
}

.reveal {
  background: url(../images/reveal.gif) center;
  -webkit-text-stroke: 1px black;
  background-color: none;
}

.trigger {
  margin-left: -2vw;
  background-color: transparent;
  border: transparent;
  text-align: center;
  font-size: 1.8vw;
  cursor: pointer;
  color: rgb(199, 199, 199);
}

/*Credit page*/

#artists {
  padding-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#magritte img {
  width: 35vw;
}

#satie img {
  width: 25vw;
  padding-left: 5vw;
  margin-bottom: 2vh;
}

#artists p,
#author {
  color: white;
  text-align: center;
  font-family: Oswald;
}

#author {
  padding: 7vh 5vw;
}

/*Rules page*/

#about {
  padding-top: 2.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Oswald;
}

#about h2 {
  color: #df554e;
  text-decoration: white;
}

#about p {
  color: white;
}

.paragraphe {
  width: 40vw;
}
