/*Fonts for the players*/
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kristi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap");

/*Fonts for the pages*/
@font-face {
  font-family: "PlainPensleW00-BoldItalic";
  src: url("http://db.onlinewebfonts.com/t/757a7b747769394e1ea6809387390c3d.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/757a7b747769394e1ea6809387390c3d.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/757a7b747769394e1ea6809387390c3d.woff2")
      format("woff2"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/757a7b747769394e1ea6809387390c3d.woff")
      format("woff"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/757a7b747769394e1ea6809387390c3d.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/757a7b747769394e1ea6809387390c3d.svg#PlainPensleW00-BoldItalic")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "Timepiece";
  src: url("http://db.onlinewebfonts.com/t/c90aed9ca433814157b45894e93ffab6.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/c90aed9ca433814157b45894e93ffab6.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/c90aed9ca433814157b45894e93ffab6.woff2")
      format("woff2"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/c90aed9ca433814157b45894e93ffab6.woff")
      format("woff"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/c90aed9ca433814157b45894e93ffab6.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/c90aed9ca433814157b45894e93ffab6.svg#Timepiece")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "SynthemescW00-Regular";
  src: url("http://db.onlinewebfonts.com/t/6c64d0b07322573d2fe791ca8b55850a.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/6c64d0b07322573d2fe791ca8b55850a.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/6c64d0b07322573d2fe791ca8b55850a.woff2")
      format("woff2"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/6c64d0b07322573d2fe791ca8b55850a.woff")
      format("woff"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/6c64d0b07322573d2fe791ca8b55850a.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/6c64d0b07322573d2fe791ca8b55850a.svg#SynthemescW00-Regular")
      format("svg"); /* iOS 4.1- */
}

/* Font to hide the text */
@font-face {
  font-family: "Pagan Symbols";
  src: url("http://db.onlinewebfonts.com/t/c0a22a77f0d318f4a8305cc4e0073bae.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/c0a22a77f0d318f4a8305cc4e0073bae.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/c0a22a77f0d318f4a8305cc4e0073bae.woff2")
      format("woff2"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/c0a22a77f0d318f4a8305cc4e0073bae.woff")
      format("woff"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/c0a22a77f0d318f4a8305cc4e0073bae.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/c0a22a77f0d318f4a8305cc4e0073bae.svg#Pagan Symbols")
      format("svg"); /* iOS 4.1- */
}

/*General style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  height: fit-content;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 1vh 5vw 2vw;
  display: flex;
  justify-content: space-between;
  color: #df554e;
  font-family: Timepiece;
  font-size: large;
  font-size: 2rem;
  font-weight: 100;
}

.menu {
  display: flex;
  list-style-type: disc;
}

.menu a {
  margin-top: 2vh;
  margin-left: 2vw;
  font-size: 3rem;
  transition: color, 250ms;
}

.menu a:hover {
  color: #f2e47b;
}

footer {
  color: whitesmoke;
  font-family: PlainPensleW00-BoldItalic;
  text-align: center;
  font-size: 2.67vw;
  position: absolute;
  bottom: 1.5vh;
  left: 34vw;
}

iframe {
  border: none;
}

/*Homepage*/

#main-page {
  position: relative;
  background: url(../images/background1.png) center black no-repeat;
  background-size: 130vh;
  margin: auto;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.25rem;
}

.play {
  position: absolute;
  top: 47.45vh;
  left: 47.65vw;
  font-family: SynthemescW00-Regular;
  color: #f2e47b;
  font-size: 2vw;
  transform: scale(1);
  transition: transform, 250ms;
}

.play:hover {
  transform: scale(2);
}

/*Game page*/

#game-page {
  background-color: black;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.25rem;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 77vh;
  background: whitesmoke;
  font-family: Homemade Apple;
  border-radius: 2vh;
  padding: 3vh;
  margin: 0vh 20vw 0vh 20vw;
}

/* Classes written text */

#written-text {
  align-self: flex-start;
  font-size: 2vw;
  text-align: center;
}

.hidden-text {
  font-family: Pagan Symbols;
}

/* Input to submit new text */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#words {
  padding: 1vh;
  font-size: 1rem;
  width: 36vw;
  border: 1px lightgray solid;
  border-radius: 0.7vh;
}

.message {
  color: transparent;
}

.warning {
  color: #df554e;
  font-family: ;
}

.inputs {
  display: flex;
}

.send {
  width: 10vw;
  padding: 2vh;
  margin-top: 3vh;
  background: url(../images/background-play.png) center;
  font-family: SynthemescW00-Regular;
  color: #f2e47b;
  font-size: 2vw;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  transform: scale(1);
  transition: transform, 250ms;
}

.send:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px #eba6a2;
}

.sent {
  color: black;
}

.reveal {
  background-image: none;
  background-color: #f2e47b;
  color: #df554e;
}

.trigger {
  margin-left: -2vw;
  background-color: transparent;
  border: transparent;
  text-align: center;
  font-size: 1.8vw;
  cursor: pointer;
  color: rgb(199, 199, 199);
}
